*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}


body{
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    font-size: 19px;
   
}

@media (min-width: 360px) {
    font-size: 8px;

    figure{
        margin: 40px;     
    }
}




header{
  
  display: flex;
  justify-content: left;
  background-image: url(black-computer-tablet-beside-black-ceramic-cup-3740449\ \(1\).jpg);
    width: 100%;
    height: 630px;
    background-size: cover;
  
}

#menu {

    background: rgb(255, 255, 255);
    height: 70px;
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
}

#menu ul{

    display: flex;
    width: 50vw;
    margin-left: 80px;
    margin-top: 8px;
   
}
#menu li {

    list-style: none;
    margin-right: 20px;
    
}

#menu li a{
    text-decoration:none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 15px 10px;
    display: block;  
    transition: color 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#menu li a img {

   margin-top: -5px;
}

#menu a:hover{

color:  rgba(145, 141, 9, 0.938);
}

#menu .gridicons  {

    width: 50vw;
    margin-top: 12px;
    padding:  0 10vw;
}

#menu .gridicons a {

  color: rgb(248, 248, 248);
  font-size: 13px;
  text-decoration:none;
  transition: text-shadow 1s; 
  margin-right: 20px;
  
}


#menu .gridicons img {

    width: 40px;
    height: 40px;
    transition:  box-shadow  0.5s, background-color 0.5; 
    border-radius: 50%;
   
}


#menu  .gridicons a img:hover{

    box-shadow: 0px 0px 5px rgb(54, 54, 54);
  
}

#img{
    background-image: url(./png/silver-and-black-laptop-computer-3815733.jpg);
    width: 100vw;
    height: 400px;
    
}

@media (max-width: 930px) {

    #menu {

        display: block;
        position: absolute;
    }

    #menu .gridicons  {
        margin-top: 40px;
        width: 100vw;

    }   
}

.titulo {

    width: 40%;
    padding-left: 35px;
  
}


.titulo  .foto {

width: 110px;
height: 110px;
border-radius: 50%;
float: left; 
margin-top: 68%;
margin-left: 30px;
margin-right: 20px; 
}


.site-title {
 
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    margin-top: 73%;
    font-family: 'Merienda', cursive;
    
}

.site-subtitle{
    color: rgb(184, 178, 178);
    text-align: center;
  
}

.portfolio {

  width: 100%;
  padding: 50px ;
  padding-bottom: 90px;
  background-color: rgba(238, 238, 238, 0.664);
  
}

#portitle {
   
    margin-bottom: 1.5em;
    text-align: center;
    
}


.portfolio .grid{

    display: grid;
    gap: 2em;
   
}

@media (min-width: 560px){

    .portfolio .grid{
        grid-template-columns: 250px 250px;
    }
}

@media (min-width: 880px){

    .portfolio .grid{
        grid-template-columns: 250px 250px 250px;
        align-content: center;
        justify-content: center;
    }
}



.portfolio figure {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #111010c9;
   
    border-radius: 14px;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.portfolio .grid #gridimg{

    padding-top: 30px;
}

.portfolio .grid #gridimg figure {

    padding-top: 0;
  
}

.portfolio .grid #gridimg figure #espa {

    padding-bottom: 13px;
    padding-top: 13px;
  
}

figure img {

    width: 250px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 24px;

}

figure img:hover{

    transform: scale(1.1);
    

}

.contato {

    width: 100%;
    padding: 50px 50px 100px 50px;
   

}

#cont {
  
    margin-bottom: 1.5em;
    color:  rgb(0, 0, 0);
    text-align: center;
   
}

.contato .ramos{

    display: grid;
    gap: 2em;

}

@media (min-width: 560px){

    .contato .ramos{
        grid-template-columns: 250px 250px;
    }
}

@media (min-width: 880px){

    .contato .ramos{
        grid-template-columns: 250px 250px 250px 250px;
        align-content: center;
        justify-content: center;
    }
}


.contato .ramos hr{

    border: 0;
    background-color: rgba(185, 168, 20, 0.774);
    height: 3px;
}

.contato p {

    text-align: justify;
    line-height: 30px;
    margin-top: 20px;
}

.contato h3 {

    padding: 9px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.89);
    text-align: center;
   
}


.sobre {

  display: block;
  width: 100%;
  justify-content: center;
  padding: 10px;

}

@media (min-width:  900px){

    .sobre {

        display: flex;
        justify-content: center;
        padding: 50px 50px;
      }

}

.sobre h3 {

  text-align: center;
  padding-bottom: 10px;
}



#formação {
    color: #040607; 
    margin-right :40px;
    margin-left :50px;
    text-align: justify;
    text-indent: 1em;
    line-height: 30px;
    margin-top: 20px;


}

#objetivo{

    color: #040607; 
    margin-left :40px;
    margin-right :50px;
    text-indent: 1em;
    text-align: justify;
    line-height: 30px;
    margin-top: 20px;

    
}


@media (min-width:  900px){

    .container {

        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
      }

}


.rotape {

    width: 100%;
    height: 100px;
    background-color: #080b0c;
}

.rotape p{

    color: white;
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 11px;
}






