*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}


body{
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    

}

@media (min-width: 400px) {
    font-size: 14px;

    figure{
        margin: 40px;     
    }
}

header{
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./png/silver-and-black-laptop-computer-3815733.jpg);
    width: 100%;
    height: 460px;

 
}

#menu {

    background: rgb(22, 20, 20);
    height: 60px;
    position: fixed;
    
    width: 100%;
    top: 0;
}
#menu ul{

    display: flex;
    justify-content: space-around;
   
}
#menu li {

    list-style: none;
}

#menu a{
    text-decoration:none;
    color: rgb(206, 200, 200);
    font-size: 18px;
    padding: 15px 10px;
    display: block;  
    transition: background-color 1s, color 1s;
}


#menu a:hover{

background-color:  rgba(227, 220, 7, 0.705);
color: black;


}


 #img{
    background-image: url(./png/silver-and-black-laptop-computer-3815733.jpg);
    width: 100vw;
    height: 400px;
    
}




.site-title {
    color: rgba(227, 220, 7, 0.705);
    text-align: center;
    margin: 0;
    margin-top: 80%;
    
}

.site-subtitle{
    color: rgb(184, 178, 178);
    text-align: center;
  
}

.portfolio {

  width: 100%;
  
  padding: 50px ;


}

#portitle {
   
    margin-bottom: 1.5em;
    color: #233237fa;
    text-align: center;
}


.portfolio .grid{

    display: grid;
    gap: 2em;
    
    
}

@media (min-width: 560px){

    .portfolio .grid{
        grid-template-columns: 250px 250px;
    }
}

@media (min-width: 880px){

    .portfolio .grid{
        grid-template-columns: 250px 250px 250px;
        align-content: center;
        justify-content: center;
    }
}


.portfolio figure {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #233237;

}

figure img {

    width: 250px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

figure img:hover{

    transform: scale(1.1);
    

}

.contato {

    width: 100%;
    background-color: #233237f5;
    padding: 50px 50px 80px 50px;
    

}

#cont {
  
    margin-bottom: 1.5em;
    color:  rgba(227, 220, 7, 0.705);
    text-align: center;
   
}

.contato .gridicons {

    display: grid;
    gap: 2em;

}

@media (min-width: 560px){

    .contato .gridicons{
        grid-template-columns: 250px 250px;
    }
}

@media (min-width: 880px){

    .contato .gridicons{
        grid-template-columns: 100px 100px 100px 100px;
        align-content: center;
        justify-content: center;
    }
}




.contato a {

  color: rgb(248, 248, 248);
  font-size: 13px;
  text-decoration:none;
  transition: text-shadow 1s; 
  
}


.contato img {

    width: 80px;
    height: 80px;
    transition:  box-shadow  0.5s; 
    border-radius: 50%;
}


.contato a img:hover{

   box-shadow: 0px 0px 5px rgb(255, 255, 255);;;
}

.contato a:active,
.contato a:hover{
    text-shadow: 1px 1px 1px rgb(227, 220, 7);

}




























/**
















.gred {

    display: flex;
    justify-content: space-around;
    margin: 80px 20px;
    
}

figure{

    text-align: center;
    font-family: 'Source Code Pro', monospace;
   
    
}


figure img {

   width: 200px;
   height: 200px;

    border-radius: 50%;
    object-fit: cover;
    object-position: right bottom;
   
}

