*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    text-decoration:none;
}


body{
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    font-size: 19px;
   
   
   
}

p{

    font-size: 17px;
}

@media (min-width: 360px) {
    font-size: 8px;

    figure{
        margin: 5px;     
    }
  
}




header{
  
  display: flex;
  justify-content: left;
  background-image: url(./png/black-computer-tablet-beside-black-ceramic-cup-3740449\ \(1\).jpg);
    width: 100%;
    height: 630px;
    background-size: cover;
  
}

#menu {

    background: rgb(255, 255, 255);
    height: 78px;
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    box-shadow: 1px 0px 8px grey ;
    align-items: center;
}

#menu ul{

    display: flex;
    width: 50vw;
    margin-left: 80px;
    margin-top: 8px;
   
}
#menu li {

    list-style: none;
    margin-right: 20px;
    
}

#menu li a{
    text-decoration:none;
    color: rgb(34, 33, 33);
    font-size: 16px;
    padding: 18px 10px;
    display: block;  
    transition: color 1s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#menu li a img {

   margin-top: -5px;
}

#menu a:hover{

color: rgb(16, 116, 111);

}

#menu .gridicons  {

    width: 50vw;
    margin-top: 9px;
    padding:  0 10vw;
}

#menu .gridicons a {

  color: rgb(248, 248, 248);
  font-size: 13px;
  text-decoration:none;
  transition: text-shadow 1s; 
  margin-right: 20px;
  
}


#menu .gridicons img {

    width: 40px;
    height: 40px;
    transition:  box-shadow  0.5s, background-color 0.5; 
    border-radius: 50%;
   
}


#menu  .gridicons a img:hover{

    box-shadow: 0px 0px 6px rgb(54, 54, 54);
  
}

#img{
    background-image: url(./png/silver-and-black-laptop-computer-3815733.jpg);
    width: 100vw;
    height: 400px;
    
}

@media (max-width: 930px) {

    #menu {

        display: block;
        position: absolute;
    }

    #menu .gridicons  {
        margin-top: 40px;
        width: 100vw;

    }   
}

.titulo {

    width: 50%;
    padding-left: 35px;
    

    
  
}


.titulo  .foto {

width: 110px;
height: 110px;
border-radius: 50%;
margin-top: 60%;
margin-left: 30px;
margin-right: 15px; 
}


.site-title {
 
    color: rgba(255, 255, 255, 0.87);
  
    margin-top: 55%;
    font-size: 43px;
}

.site-subtitle{
    color: rgb(184, 178, 178);
    margin-top: 7px;
    width: 80%;

    
  
}

.portfolio {

  width: 100%;
  padding: 85px ;
  padding-bottom: 90px;
  background-color: rgba(238, 238, 238, 0.685);
  
}

#portitle {
   
    margin-bottom: 1em;
    text-align: center;
    
}

#subpor{

    margin-bottom: 1.8em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.portfolio .grid{

    display: grid;
    gap: 2em;
   
}

@media (min-width: 560px){

    .portfolio .grid{
        grid-template-columns: 350px 350px;
    }
}

@media (min-width: 880px){

    .portfolio .grid{
        grid-template-columns: 350px 350px 350px;
        align-content: center;
        justify-content: center;
    }
}



.portfolio figure {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #111010c9;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


figure img {

    width: 350px;
    height: 300px;
    object-fit: cover;
    padding: 5px;
    transition: all 0.3s;
    cursor: pointer;
   

}

@media (max-width: 450px){

    figure img {

        width: 150px;
        height: 100px;
    
    }

    .portfolio {

        padding: 15px ;
         padding-bottom: 40px;

    }
    
}

figure img:hover{

    transform: scale(1.05);
    

}



.contato {

    width: 100%;
    padding: 60px 50px 100px 50px;
   
}

#cont {
  
    margin-bottom: 1.2em;
    color:  rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
   
}

.contato .ramos{

    display: grid;
    gap: 2em;
     

}

@media (min-width: 560px){

    .contato .ramos{
        grid-template-columns: 250px 250px;
 
    }
}

@media (min-width: 880px){

    .contato .ramos{
        grid-template-columns: 320px 320px 320px ;
        align-content: center;
        justify-content: center;
      
      
    }
}

.contato .ramos div {
    border: solid 1px rgb(172, 171, 171);
    border-radius: 8px;

}

.contato .ramos div:hover {

    box-shadow: 0px 0px 7px grey ;
    

}

.contato  hr{

    border: 0;
    background-color: rgba(185, 168, 20, 0.74);
    height: 1px;
}

.contato p {

    text-align: justify;
    line-height: 26px;
    margin-top: 15px;
    margin: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 62, 62);
}

.contato h3 {

    padding: 15px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.89);
    text-align: center;
   
}


.sobre {

  display: block;
  width: 100%;
  justify-content: center;
  padding: 10px;
  

}

@media (min-width:  900px){

    .sobremim {

        display: flex;
        justify-content: center;
        padding: 20px 50px;
      }

}

.sobre h2 {

  text-align: center;
  padding-top: 75px;
  
}




#formação {
    color: #040607; 
    margin-right :40px;
    margin-left :50px;
    text-align: justify;
    text-indent: 1em;
    line-height: 27px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;


}

.sobre #linkfor {
    margin-top: 25px;
    text-align: center;
    height: 50px;

}

.sobre #linkfor a  {

    background-color: rgb(28, 156, 150);

    padding: 9px 12px;
    padding-left: 18px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    transition:  background-color 0.5;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    
}

.sobre #linkfor a:hover{

    background-color: rgba(0, 0, 0, 0.767);
}


.sobre #formação ol{

    margin-top: 15px;
}

.sobre #formação li  {

    font-size: 16px;
    list-style: inside;
    
}

.sobre #formação li a {

    text-decoration:none;
    color: rgb(2, 4, 87);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    transition: color 0.5;
   
}

.sobre #formação li a:hover {

    color: rgb(80, 83, 235);
}


#objetivo{

    color: #040607; 
    margin-left :40px;
    margin-right :50px;
    text-indent: 1em;
    text-align: justify;
    line-height: 27px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

    
}


@media (min-width:  900px){

    .container {

        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
      }

}


.curso {

    width: 100%;
    padding: 60px 50px 100px 50px;
    background-color: rgba(238, 238, 238, 0.726);
    
     
   

}

#cursotitle {
  
    margin-bottom: 1.2em;
    color:  rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
   
}



.curso h4 {

    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    padding: 6px;
   
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin-left: 100px;
    
}

.curso .cursoflex{

    display: flex;
    justify-content: center;
    margin-left: 50px;
    
}

.curso ul {

    margin: 40px;
   
}

.curso li{

  
    font-size: 18px; 
    margin-left: 20px;
    line-height: 27px;
    color: rgb(12, 77, 73);
    list-style: circle;
    font-family: Arial, Helvetica, sans-serif;
    
}

.rotape {

    width: 100%;
    height: 100px;
    background-color: rgb(16, 116, 111);
}

.rotape p{

    color: rgb(231, 228, 228);
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
}






